//
// Variables
// --------------------------------------------------
@import '~open-color/open-color';

// init
$blue:         $oc-blue-7;
$turquoise:    $oc-cyan-4;
$red:          $oc-red-6;
$green:        $oc-green-7;
$orange:       $oc-orange-7;
$purple:       $oc-violet-4;
$yellow:       $oc-yellow-7;

$background-color: #fff;

$family-sans-serif: "Alright Sans LP", "Avenir Next", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;


// Override
$primary: $blue;
$info: $turquoise;
$danger: $red;
$warning: $yellow;
$success: $green;

$family-primary: $family-sans-serif;

$body-background: $background-color;

// Font Colors
$font-light:  #9e9e9e;
$font:        #76838f;
$font-dark:   #5e6a76;
$font-darker: #212121;

// Animation
$transition-speed: .3s;
